# dependências
node_modules

# variáveis de ambiente
.env
.env.*
*.local

# código fonte (NÃO subir)
components
*.ts
*.tsx
vite.config.ts
tsconfig.json
package.json
package-lock.json

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# editor / sistema
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
